/*
 * Empty Stylesheet file.
 */

#mainWindow{
-fx-background-image: url('/app/images/default_background.jpg');
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
}


#register_button {
    -fx-graphic: url('/app/images/icons/register_icon.png');
}

#back_button {
    -fx-graphic: url('/app/images/icons/back_icon.png');
}